<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>myweb5</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>homeindex.jsp</welcome-file>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>com.home.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomePage</display-name>
    <servlet-name>HomePage</servlet-name>
    <servlet-class>com.home.HomePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePage</servlet-name>
    <url-pattern>/homepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CardHome</display-name>
    <servlet-name>CardHome</servlet-name>
    <servlet-class>com.card.CardHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardHome</servlet-name>
    <url-pattern>/cardhome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CardAdd</display-name>
    <servlet-name>CardAdd</servlet-name>
    <servlet-class>com.card.CardAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardAdd</servlet-name>
    <url-pattern>/cardadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CardDel</display-name>
    <servlet-name>CardDel</servlet-name>
    <servlet-class>com.card.CardDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardDel</servlet-name>
    <url-pattern>/carddel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CardUpdate</display-name>
    <servlet-name>CardUpdate</servlet-name>
    <servlet-class>com.card.CardUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardUpdate</servlet-name>
    <url-pattern>/cardupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookHome</display-name>
    <servlet-name>BookHome</servlet-name>
    <servlet-class>com.book.BookHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookHome</servlet-name>
    <url-pattern>/bookhome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookAdd</display-name>
    <servlet-name>BookAdd</servlet-name>
    <servlet-class>com.book.BookAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookAdd</servlet-name>
    <url-pattern>/bookadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookDel</display-name>
    <servlet-name>BookDel</servlet-name>
    <servlet-class>com.book.BookDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDel</servlet-name>
    <url-pattern>/bookdel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookUpdate</display-name>
    <servlet-name>BookUpdate</servlet-name>
    <servlet-class>com.book.BookUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookUpdate</servlet-name>
    <url-pattern>/bookupdate</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Filter</display-name>
    <filter-name>Filter</filter-name>
    <filter-class>com.filter.FilterHome</filter-class>
    <init-param>
      <param-name>uris</param-name>
      <param-value>/index,/homepage,/home.jsp</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>FilterGet</display-name>
    <filter-name>FilterGet</filter-name>
    <filter-class>com.filter.FilterGet</filter-class>
    <init-param>
      <param-name>encod</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>FilterGet</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.listener.MyContextListener</listener-class>
  </listener>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql:///mylibrary</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>root</param-value>
  </context-param>
  <listener>
    <listener-class>com.listener.MySessionListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>UserExit</display-name>
    <servlet-name>UserExit</servlet-name>
    <servlet-class>com.home.UserExit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserExit</servlet-name>
    <url-pattern>/userexit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrowBook</display-name>
    <servlet-name>BorrowBook</servlet-name>
    <servlet-class>com.home.BorrowBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrowBook</servlet-name>
    <url-pattern>/borrowbook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReBook</display-name>
    <servlet-name>ReBook</servlet-name>
    <servlet-class>com.home.ReBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReBook</servlet-name>
    <url-pattern>/rebook</url-pattern>
  </servlet-mapping>
</web-app>